# Rename this file to .env before running the server

# Local MongoDB:
# MONGO_URI=mongodb://127.0.0.1:27017/taskManagementDB

# OR MongoDB Atlas (replace <username>, <password>, <cluster>):
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/taskManagementDB

PORT=5000
