# Rename this file to .env before running the project

# Local MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/student_management_db

# OR MongoDB Atlas (Free Tier) - replace with your own connection string
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/student_management_db?retryWrites=true&w=majority

PORT=5000
